<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<body>
<div class="container-fluid">
    <h1>USERS</h1>
{% for message in Users %}
<b>FULL NAME:</b>{{ message.name }}<br>
<b>EMAIL:</b>{{ message.email }}<br>
<b>PASS WORD:</b>{{ message.password }}<br>
<b>AGE:</b>{{ message.age }}<br>
<b>YEAR OF BIRTH:</b>{{ message.year }}<br>
    <hr>
{% endfor %}<br><br>
<hr>
 </div>


</body>

</html>